Repository probably-nothing-labs/arrow-datafusion, pull requests merged in 2024-07, with the labels that each got.

#20 Adding meta column and moving watermark info into the metadata column
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/physical-plan/src/continuous/window.rs
  datafusion/physical-plan/src/kafka_source.rs
  datafusion/physical-plan/src/time.rs
Labels: optimizer

#21 Adding Operator Ids to the PhysicalPlanProperties
  datafusion-examples/examples/kafka_rideshare.rs
  datafusion/core/src/datasource/continuous/kafka_source.rs
  datafusion/core/src/physical_optimizer/coalesce_before_streaming_window_aggregate.rs
  datafusion/core/src/physical_planner.rs
  datafusion/physical-plan/src/continuous/window.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/streaming.rs
Labels: core

#24 Move code to df-streams library
  Cargo.toml
  datafusion-examples/examples/kafka_rideshare.rs
  datafusion-examples/examples/streaming_join.rs
  datafusion/core/src/dataframe/franz.rs
  datafusion/core/src/dataframe/mod.rs
  datafusion/core/src/franz_sinks/file_sink.rs
  datafusion/core/src/franz_sinks/kafka_sink.rs
  datafusion/core/src/franz_sinks/mod.rs
  datafusion/core/src/franz_sinks/sink.rs
  datafusion/core/src/franz_sinks/stdout_sink.rs
  datafusion/core/src/lib.rs
  datafusion/franz/Cargo.toml
  datafusion/franz/README.md
  datafusion/franz/src/lib.rs
  datafusion/franz/src/record_store.rs
  datafusion/franz/src/rocksdb_backend.rs
  datafusion/franz/src/stream_monitor.rs
  datafusion/franz/src/test/mock_sink.rs
  datafusion/franz/src/test/mod.rs
  datafusion/franz/src/utils.rs
Labels: core

#26 Amey/add denormalized env
  datafusion/execution/Cargo.toml
  datafusion/execution/src/denormalized_runtime_env.rs
  datafusion/execution/src/lib.rs
  datafusion/execution/src/rocksdb_backend.rs
  datafusion/physical-expr/src/aggregate/min_max.rs
Labels: physical-expr

#28 Adding concept of streaming window schema to the logical plan enum
  datafusion/core/src/physical_planner.rs
  datafusion/expr/src/logical_plan/display.rs
  datafusion/expr/src/logical_plan/franz.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/unparser/plan.rs
Labels: sql, logical-expr, optimizer, core

#29 turn off projection optimizer
  datafusion/optimizer/src/optimizer.rs
Labels: optimizer

#32 Move code
  datafusion-examples/Cargo.toml
  datafusion/common/src/franz_arrow.rs
  datafusion/common/src/lib.rs
  datafusion/common/src/scalar/mod.rs
  datafusion/common/src/scalar/serialize.rs
  datafusion/core/Cargo.toml
  datafusion/core/src/datasource/continuous/kafka_source.rs
  datafusion/core/src/datasource/continuous/mod.rs
  datafusion/core/src/datasource/mod.rs
  datafusion/core/src/physical_optimizer/aggregate_statistics.rs
  datafusion/core/src/physical_optimizer/coalesce_before_streaming_window_aggregate.rs
  datafusion/core/src/physical_optimizer/mod.rs
  datafusion/core/src/physical_optimizer/optimizer.rs
  datafusion/core/src/physical_planner.rs
  datafusion/execution/Cargo.toml
  datafusion/execution/src/lib.rs
  datafusion/execution/src/rocksdb_backend.rs
  datafusion/expr/Cargo.toml
  datafusion/expr/src/logical_plan/display.rs
  datafusion/expr/src/logical_plan/franz.rs
  datafusion/expr/src/logical_plan/mod.rs
  datafusion/expr/src/logical_plan/plan.rs
  datafusion/expr/src/logical_plan/tree_node.rs
  datafusion/optimizer/src/common_subexpr_eliminate.rs
  datafusion/optimizer/src/optimize_projections/mod.rs
  datafusion/optimizer/src/optimizer.rs
  datafusion/physical-plan/Cargo.toml
  datafusion/physical-plan/src/aggregates/mod.rs
  datafusion/physical-plan/src/aggregates/no_grouping.rs
  datafusion/physical-plan/src/continuous/mod.rs
  datafusion/physical-plan/src/continuous/window.rs
  datafusion/physical-plan/src/filter.rs
  datafusion/physical-plan/src/kafka_source.rs
  datafusion/physical-plan/src/lib.rs
  datafusion/physical-plan/src/time.rs
  datafusion/physical-plan/src/windows/mod.rs
  datafusion/physical-plan/src/windows/stream_window_agg_exec.rs
  datafusion/proto/src/logical_plan/mod.rs
  datafusion/sql/src/unparser/plan.rs
Labels: sql, logical-expr, optimizer, core
